@import "../variables";

.features-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}