@import "../variables";

.features {
  margin-top: 37px;
}

.features__container {
  display: flex;

  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .features__container {
    width: $tablet-width;
    margin: 0 auto;
    padding-left: 10px;
  }

  .features {
    margin-top: 54px;
  }
}

@media (min-width: $desktop-width) {
  .features__container {
    width: $desktop-width;
    margin: 0 auto;
    padding-left: 80px;
  }

  .features {
    margin-top: 109px;
  }
}