@import "../variables";

.form {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
}

.form__input {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white-color;

  border: none;

  padding: 14px 24px 16px;
  margin-bottom: 34px;

  &::placeholder {
    color: $white-color;
  }
}

.form__button {
  background-color: transparent;

  border: 1px solid $white-color;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white-color;

  padding: 15px;
  margin-bottom: 29px;
}

.form__checkbox-label {
  font-size: 14px;
  line-height: 16px;
  text-align: left;

  position: relative;
  display: block;

  color: $white-color;
  opacity: 0.8;


  max-width: 350px;

  margin-left: 49px;

  &::before {
    content: "";
    position: absolute;

    top: 2px;
    left: -50px;

    width: 16px;
    height: 16px;

    border: 1px solid $white-color;
    box-sizing: border-box;
  }
}

.form__checkbox:checked + .form__checkbox-label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -46px;

  width: 8px;
  height: 5px;

  background: url("../../img/Vector.svg") center no-repeat;
  background-size: cover;
}
