@import "../variables";

.logo__text {
  display: none;
}

.logo__image-tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo {
    display: flex;
    align-items: center;
  }

  .logo__image-mobile {
   display: none;
  }

  .logo__image-tablet {
    display: block;
  }

  .logo__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 16px;
  }

  .logo__text-1 {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: $white-color;
  }

  .logo__text-2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: $logo-text-color;
  }
}