@import "../variables";

.modal {
  display: none;
}

.modal--open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 490px;
  box-sizing: border-box;

  background-color: $light-blue-color;

  padding: 28px 40px 38px;
  margin: 0 auto;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 100;
}

.modal__heading {
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;

  color: $white-color;

  margin: 0;
}

.modal__text {
  color: $white-color;
  text-align: left;

  margin-top: 13px;
  max-width: 370px;
}

.modal__close-button {
  position: absolute;
  top: 25px;
  right: 3px;

  width: 37px;
  height: 37px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    content: "";

    position: absolute;

    width: 23px;
    height: 1px;

    left: 0;
    background-color: $white-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

