@import "../variables";

.site-list {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0;
}

.site-list__item:nth-of-type(3) {
  margin-left: 22px;
}

.site-list__item-text,
.site-list__button-call {
  display: none;
}

.site-list__item:first-of-type {
  position: relative;
}

.site-list__button--burger {
  position: absolute;
  top: -3px;
  right: 27px;

  width: 37px;
  height: 1px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    content: "";

    position: absolute;

    width: 37px;
    height: 1px;

    left: 0;
    background-color: $white-color;
  }

  &::before {
    top: -5px;
  }

  &::after {
    bottom: -6px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item:nth-of-type(3) {
    margin-left: 32px;
  }

  .site-list__button--burger {
    right: 37px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item-text,
  .site-list__button-call {
    display: block;
  }

  .site-list__button {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-family: PT Mono;
    line-height: 18px;

    color: $white-color;
  }

  .site-list__button-call {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white-color;
    background-color: transparent;
    border: none;
  }
}
