@import "../variables";

.triangles{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.triangles__1 {
  top: 1434px;
  left: 146px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .triangles__1 {
    top: 927px;
    left: 359px;
  }
}